.button{
    width: 300px;
    height: 300px;
    text-align: center;
    margin: 20px;
    border-radius: 15px;
}

.button:hover{
    cursor: pointer;
}

.box-text{
    vertical-align: middle;
    color: whitesmoke;
    margin-top: 40%;
}